img.logo {
  max-width: 40px;
  vertical-align: middle;
  margin: 0 5px;
}

header,
footer {
  background-color: #2d2d2d;
  color: #FFFFFF;
  padding: 20px;
  text-align: center;
  margin-bottom: 15px;
  position: relative;
}

footer {
  margin: 0;
}

footer a:hover {
  color: #7EB1DC;
}

ul a {
  color: #000;
}

ul a:hover {
  text-decoration: none;
  color: #2d2d2d;
}

.standings.table-bordered > thead > tr > th,
.standings.table-bordered > tbody > tr > td {
  border-right: none;
  border-left: none;
}

.standings.table-bordered > thead {
  background: #2d2d2d;
  color: #FFF;
}

table.wildcard tbody > tr:nth-child(2) {
  border-bottom: 10px solid #aaa;
}

.standings td.team-standings {
  background-color: #f7f7f7;
}

.change > .arrow {
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
}

.change-up {
  color: #2c2;
}

.change-down {
  color: #f00;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.arrow-up {
  border-bottom: 5px solid #2c2;
}

.arrow-down {
  border-top: 5px solid #f00;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  background-color: #2d2d2d;
}

.tie-breaker-wrapper {
  margin-bottom: 20px;
}

.tie-breaker-wrapper h3 {
  cursor: pointer;
  margin: 0 0 20px;
}

.tie-breaker-wrapper h3 a {
  color: #999;

}

.tie-breaker-wrapper h3 a:hover {
  color: #666;
  text-decoration: none;
}

.icon {
  position: relative;
  width: 4px;
  height: 4px;
  cursor: pointer;
  margin-right: 10px;
  top: -7px;
  left: 6px;
}

.icon .one, .icon .two {
  position: absolute;
  width: 4px;
  height: 16px;
  background: #999;
  transform-origin: 50% 50%;
  transition: 0.5s all ease;
}

.icon .one {
  transform: rotate(-90deg);
}

.icon.transform .one, .icon.transform .two {
  transform: rotate(90deg);
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

#loading {
  width: 80px;
  height: 80px;
  position: absolute;
  left: -40px;
  top: -10px;
}

#loading img {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  span.team-name {
    display: none;
  }
}

@media (max-width: 767px) {
  #loading {
    left: 270px;
    top: -1px;
  }

  select#season {
    margin-top: 10px;
  }
}