.bitcoin {
  position: absolute;
  top: 10px;
  left: 10px;
}

img.logo {
  max-width: 40px;
  vertical-align: middle;
  margin: 0 5px;
}

header {
  background-color: #2d2d2d;
  color: #FFFFFF;
  padding: 20px;
  text-align: center;
  margin-bottom: 15px;
  position: relative;
}

ul a {
  color: #000;
}

ul a:hover {
  text-decoration: none;
  color: #2d2d2d;
}

@media (max-width: 767px) {
  select#season {
    margin-top: 10px;
  }
}

/* Bootstrap overrides */
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > td {
  border-right: none;
  border-left: none;
}

.table-bordered > thead {
  background: #2d2d2d;
  color: #FFF;
}

/* END Bootstrap overrides */
#west-wild tbody > tr:nth-child(2),
#east-wild tbody > tr:nth-child(2) {
  border-bottom: 10px solid #aaa;
}

td.team-standings {
  background-color: #f7f7f7;
}

.change > .arrow {
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
}

.change-up {
  color: #2c2;
}

.change-down {
  color: #f00;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.arrow-up {
  border-bottom: 5px solid #2c2;
}

.arrow-down {
  border-top: 5px solid #f00;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  background-color: #2d2d2d;
}

@media screen and (max-width: 1200px) {
  span.team-name {
    display: none;
  }
}
