*,
:after,
:before {
  box-sizing: border-box;
}
html {
  font-size: 14px;
}
body {
  color: $dark-grey;
  background: $c-grey;
  max-width: none;
  margin: 0;

  #app {
    position: relative;
    z-index: 1;
  }
}
h1, h2 {
  font-weight: normal;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
