.nhl321 {
  h2 {
    margin: 20px 0 10px;
    font-size:30px;
  }

  img.logo {
    max-width: 40px;
    vertical-align: middle;
    margin: 0 5px;
  }

  .nav-pills {
    .nav-item {
      .nav-link {
        color: $black;
        &.active {
          color: $white;
          background-color: $dark-grey;
          &:focus, &:hover {
            background-color: $dark-grey;
          }
        }
        &:hover {
          background-color: $light-grey;
        }
      }
    }
    &:focus {
      outline: none;
    }
  }

  .information {
    margin-bottom: 20px;
    h3 {
      cursor: pointer;
      margin: 0 0 20px;
      a {
        color: #999;
        &:hover {
          color: #666;
          text-decoration: none;
        }

      }
    }
  }

  .icon {
    position: relative;
    width: 4px;
    height: 4px;
    cursor: pointer;
    margin-right: 10px;
    top: -7px;
    left: 6px;
    display: inline-block;
    vertical-align: middle;
    &.transform {
      .one, .two {
        transform: rotate(90deg);
      }
    }
    .one, .two {
      position: absolute;
      width: 4px;
      height: 16px;
      background: #999;
      transform-origin: 50% 50%;
      transition: 0.5s all ease;
    }
    .one {
      transform: rotate(-90deg);
    }
    .two {
    }
  }

}
