// Colors
$c-grey: #efefef;
$light-blue: #00aeef;
$c-blue: #24a8e0;
$dark-blue: #0472a6;
$black-01: #333;
$c-white: #fff;
$grey-01: #ccc;
$grey-02: #e6e6e6;
$grey-03: #999999;
$orange: #ff6501;

$white: #fff;
$black: #000;
$dark-grey: #2d2d2d;
$light-grey: #dddddd;
